* {
    margin: 0;
}

body {
    color: white;
    background-color: #3b4664;
    font-family: sans-serif;
}

.content {
    text-align: center;
    color: #eae3db;
}

.center_box {
    width: 30%;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #181f32;
}
.input_center{
        width: 100%;
        text-align: center;
        height: 50px;
        font-size: 30px;
}