* {
    margin: 0;
}
 .content{
    text-align: center;
    font-size: 50px;
    color: darkcyan;
 }
.container {
    width: 40%;
    height: 150px;
    margin: 0 auto;
    border: 5px solid gray;
    background-color: rgb(197, 215, 219);
}

.center_box{
    text-align: center;

}
