* {
    margin: 0;
}

body {
    background-color: #3b4664;
    font-family: sans-serif;
}

.content {
    text-align: center;
    color: #eae3db;
    font-size: 50px;
    margin-top: 50px;

}

.center_box {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #181f32;
}

.input_center {
    width: 100%;
    text-align: center;
    height: 50px;
    font-size: 30px;
}

.number1 {
    height: 50px;
    width: 400px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 5px rgb(146, 142, 142) inset;
    color: rgb(51, 49, 49);
    background-color: #f3ecec;
    text-align: center;
    font-size: 15px;
}

.number2 {
    height: 50px;
    width: 400px;
    margin-top: 80px;
    border-radius: 8px;
    box-shadow: 5px rgb(146, 142, 142) inset;
    color: rgb(51, 49, 49);
    background-color: #f3ecec;
    text-align: center;
    font-size: 15px;
}

.add,
.sub,
.multi,
.divide {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 2px gray inset;
    margin-top: 80px;
    color: rgb(37, 37, 37);
}


.button {
    height: 20px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px rgb(146, 142, 142) inset;


}

.text {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 120px;
}

#result {
    height: 50px;
    width: 400px;
    color: rgb(70, 68, 68);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px gray inset;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;

}